{% for review in reviews_3 %}
    <li class="review-item">
        <div class="review-media">
            <a class="review-avatar" href="#">
                <img src=" images/avatar/01.jpg " alt="review">
            </a>
            <h5 class="review-meta">
                <a href="#">{{ review.user }}</a>
                <span>{{review.createt_at2}}</span>
            </h5>
        </div>
       
            <p class="review-desc"> {{ review.comment2 }} </p>
            <hr>
    </li>
{% endfor %}